:root {
    --color-primary: #2878FD;
    --color-secondary: #4bc51b;
    --color-text: #292f36;
    --bg-color: #f8f8f8;
    --color-warning: #f24128;
    --color-success: #5bcda4;
    --color-note: #0070e0;
}
